.button {
  margin: 0.5rem;
  background-color: transparent;
  padding: 0.5rem;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.question {
  font-size: 1rem;
  font-weight: 600;
}

.question:hover {
  cursor: pointer;
  text-decoration: underline;
}

.answer {
  font-size: 0.9rem;
  font-weight: 200;
}