.button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.img {
  width: 20px;
  height: 20px;
  padding: 0.5rem;
}

.img:hover {
  border-radius: 4px;
  box-shadow: 5px 5px 5px #00000020;
}
